.app-logo {
    width: 46px;
    height: 46px;
    transition: filter 500ms;
}

.app-logo-text {
    color: #1565c0;
    font-size: 25px;
    visibility: hidden;
    transition: visibility 500ms;
}

.search-field {
    width: 300px !important;
}

.app-logo-container {
    display: flex;
    align-items: center;
}

.app-logo-container:hover > .app-logo-text {
    visibility: visible;
}

.app-logo-container:hover > .app-logo {
    filter: saturate(125%);
}