.sidebar-container {
    width: 10vw;
    height: 50vh;
    border-right: 2px solid lightblue;
}

meter {
    width: 80%;
    height: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}
