.sidebar-container {
    border-right: 2px solid #add8e6;
    height: 50vh;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    width: 24vw;
    max-height: calc(100vh - 80px);
}

meter {
    width: 80%;
    height: 25px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}

.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-container > .row > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.login-button-container {
    display: flex;
    gap: 12px;
}